@{
    ViewData["Title"] = "RegistroEgreso";
}

<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"]</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- CSS -->
    <link rel="stylesheet" href="~/css/cards.css" />
</head>

<body>

    <div class="container mt-4">

        <!-- Header flotante -->
        <div class="profile-header">
            <h2>Registro de Egreso</h2>
            <p>Registrar un nuevo Egreso</p>
        </div>

        <!-- FORMULARIO -->
        <div class="card">
            <form asp-action="RegistroEgreso"
                  asp-controller="Contabilidad"
                  method="post"
                  class="card-body">

                <div class="row">
                    <div class="field">
                        <label>Motivo del Egreso</label>
                        <input type="text">
                    </div>

                    <div class="field">
                        <label>Monto</label>
                        <input type="text">
                    </div>

                </div>

                <div class="row">
                    <div class="field">
                        <label>Cantidad de articulos</label>
                        <input type="number">
                    </div>

                    <div class="field">
                        <label>Metodo de pago</label>
                        <select name="estado" required>
                            <option value="Recibido">Tarjeta</option>
                            <option value="Parcial">Efectivo</option>
                            <option value="Pendiente">Sinpe</option>
                        </select>
                    </div>

                </div>

                <button type="submit" class="btn">Crear</button>

            </form>
        </div>

        <!-- TABLA -->
        <div class="table-registros">
            <div class="table-title">Egresos Registrados</div>

            <table>
                <thead>
                    <tr>
                        <th>Motivo del Egreso</th>
                        <th>Monto</th>
                        <th>Cantidad</th>
                        <th>Metodo de pago</th>
                        <th>Registrado por</th>
                        <th>Fecha de registro</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null && Model.Any())
                    {
                        foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.Marca</td>
                                <td>@item.Placa</td>
                                <td>@item.Anio</td>
                                <td>@item.Estado</td>
                                <td>@item.Problema</td>
                                <td>@item.NombreCliente</td>
                                <td>


                                    <a asp-controller="Contavilidad"
                                       asp-action="EditarEgreso"
                                       asp-route-id="@item.IdVehiculo"
                                       class="btn btn-warning btn-sm">
                                        Editar
                                    </a>

                                    <a asp-action="Eliminar"
                                       asp-route-id="@item.IdVehiculo"
                                       class="btn btn-danger btn-sm">
                                        Eliminar
                                    </a>
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="5" class="text-center text-muted text-white">
                                No hay productos registrados
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <!-- JS -->
</body>
